/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


#title {
    font-weight: 500;
    margin-bottom: 325px;
}

#enter_button {
    font-size: 10;
}

nav ul a, nav {
    color: #e0e0e0;
}

body{
    background-image: url("planes_flying.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: repeat;
}


